In [34]:
import pandas as pd
from datetime import datetime

#df = pd.read_csv("data.csv", sep=";")
#df.timestamp
#df.timestamp = df.timestamp.apply(lambda x: x.date())

#df['timestamp'] = df['timestamp'].apply(lambda x: str(datetime.fromtimestamp(x)))

In [28]:
df.set_index('timestamp', inplace=True)

In [29]:
df.sort_index(inplace=True)

In [30]:
#df[(df.index < end_date) & (df.index > start_date)].tail()

In [31]:
#df.resample('W')['id'].count()

In [32]:
df.sort_values('timestamp', inplace=True)

In [33]:
dados = df[(df.brand == "Downy") & (df.stars == 3) & (df.timestamp >= '2020-01-01') & (df.timestamp <= '2020-12-01')].copy()

AttributeError: 'DataFrame' object has no attribute 'timestamp'

In [24]:
dados['timestamp'].max()

NameError: name 'dados' is not defined

In [ ]:
values = dados.resample(rule='W', on = 'timestamp').sum()

In [ ]:
values.head()

In [ ]:
df['timestamp'].min()

In [ ]:
nv = dados.resample('W', on = 'timestamp').sum()

In [ ]:
nv.head()

In [ ]:
nv.cumsum()

In [61]:
import sqlite3

database = sqlite3.connect('../BD/data.db')
df = pd.read_sql_query("SELECT * FROM sales ORDER BY date(timestamp)", database)

In [36]:
df[df['timestamp'] == '2020-01-01']

Empty DataFrame
Columns: [timestamp]
Index: []

In [62]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [63]:
df = df.timestamp.apply(lambda x: x.date())

In [64]:
df =df.apply(lambda x: str(x))

In [65]:
df=df.to_frame()

In [66]:
df

        timestamp
0      2007-01-03
1      2007-01-10
2      2007-03-04
3      2007-03-04
4      2007-03-04
...           ...
34819  2020-07-02
34820  2020-07-02
34821  2020-07-02
34822  2020-07-02
34823  2020-07-02

[34824 rows x 1 columns]

In [69]:
df[df.timestamp == '2020-01-01']

        timestamp
29298  2020-01-01
29299  2020-01-01
29300  2020-01-01
29301  2020-01-01
29302  2020-01-01
29303  2020-01-01
29304  2020-01-01
29305  2020-01-01
29306  2020-01-01
29307  2020-01-01
29308  2020-01-01
29309  2020-01-01
29310  2020-01-01
29311  2020-01-01
29312  2020-01-01
29313  2020-01-01
29314  2020-01-01
29315  2020-01-01
29316  2020-01-01
29317  2020-01-01
29318  2020-01-01
29319  2020-01-01
29320  2020-01-01
29321  2020-01-01
29322  2020-01-01
29323  2020-01-01
29324  2020-01-01
29325  2020-01-01
29326  2020-01-01
29327  2020-01-01
29328  2020-01-01
29329  2020-01-01
29330  2020-01-01
29331  2020-01-01
29332  2020-01-01
29333  2020-01-01
29334  2020-01-01
29335  2020-01-01
29336  2020-01-01
29337  2020-01-01
29338  2020-01-01
29339  2020-01-01
29340  2020-01-01
29341  2020-01-01
29342  2020-01-01
29343  2020-01-01
29344  2020-01-01

In [55]:
df.max()['timestamp']

datetime.date(2020, 7, 2)