In [2]:
import pandas as pd
from datetime import datetime

df = pd.read_csv("data.csv", sep=";")
df.timestamp
#df.timestamp = df.timestamp.apply(lambda x: x.date())

df['timestamp'] = df['timestamp'].apply(lambda x: str(datetime.fromtimestamp(x)))

In [3]:
type(df.timestamp[0])

str

In [20]:
len(df.groupby('brand').count().index.tolist())

30

In [7]:
df.groupby('asin').count()

            brand  id  source  stars  timestamp
asin
B00099E8WI     49  49      49     49         49
B00099E91I      6   6       6      6          6
B00099E922     14  14      14     14         14
B00099XNVA      5   5       5      5          5
B0009ET8VO     36  36      36     36         36
...           ...  ..     ...    ...        ...
B085XW81V8     10  10      10     10         10
B085XWD2WJ     13  13      13     13         13
B086CXLTF5      4   4       4      4          4
B086Q843M2      1   1       1      1          1
B086X6VLKP      3   3       3      3          3

[521 rows x 5 columns]

In [5]:
for index, row in df.iterrows():
    
    print(row['brand'])
    if index == 10:
        break

Downy
Downy
Downy
Downy
Downy
Downy
Downy
Downy
Downy
Downy
Downy

In [6]:
type(df.brand[0])

str

In [7]:
df.set_index('timestamp', inplace=True)

In [8]:
df.sort_index(inplace=True)

In [21]:
#group = df.groupby([pd.Grouper(freq = 'W'), 'id'])

In [22]:
#df.groupby['id'].count().head(20)

In [ ]:
#df.resample('W', on ='')['id'].count()

In [ ]:
start_date = '2020-01-01'
end_date = '2020-04-01'

In [ ]:
df[(df.index < end_date) & (df.index > start_date)].tail()

In [1]:
#df.resample('W')['id'].count()

In [132]:
attr1="sales"
attr2="type"
attr3=None
attr4=None
colunas =""
attributes = [attr1,attr2,attr3,attr4]
for i in range(len(attributes)):
    
    if attributes[i] is not None:
        colunas+=attributes[i]
        colunas+=","

In [133]:
Types = {
    'weekly': '%W',
    'monthly': '%m',
    'bi-weekly': '%W'
}

In [134]:
colunas

'sales,type,'

In [56]:
attrs = {
    'asin': '3',
    'brand': '7',
    'source':'8',
    'stars': None
}

condition = "WHERE " if any(attrs.values()) else ""
rest = ""
for att, value in attrs.items():

    if value != None:
        if (rest):
            rest+= "AND "
        rest+= att + " = '" + value + "' "
condition+=rest+" AND"

In [57]:
print(condition)

WHERE asin = '3' AND brand = '7' AND source = '8'

In [102]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [103]:
df.sort_values('timestamp', inplace=True)

In [104]:
dados = df[(df.brand == "Downy") & (df.stars == 3) & (df.timestamp >= '2020-01-01') & (df.timestamp <= '2020-12-01')].copy()

In [105]:
values = dados.resample(rule='W', on = 'timestamp').sum()

In [106]:
values.head()

            stars
timestamp
2020-01-05      3
2020-01-12      9
2020-01-19     12
2020-01-26      6
2020-02-02     21

In [109]:
df['timestamp'].min()

Timestamp('2007-01-03 20:00:00')