In [1]:
import pandas as pd
from datetime import datetime

#df = pd.read_csv("data.csv", sep=";")
#df.timestamp
#df.timestamp = df.timestamp.apply(lambda x: x.date())

#df['timestamp'] = df['timestamp'].apply(lambda x: str(datetime.fromtimestamp(x)))

In [2]:
df.set_index('timestamp', inplace=True)

NameError: name 'df' is not defined

In [ ]:
df.sort_index(inplace=True)

In [ ]:
#df[(df.index < end_date) & (df.index > start_date)].tail()

In [ ]:
#df.resample('W')['id'].count()

In [ ]:
df.sort_values('timestamp', inplace=True)

In [80]:
#dados = df[(df.brand == "Downy") & (df.stars == 3) & (df.timestamp >= '2020-01-01') & (df.timestamp <= '2020-12-01')].copy()
dados = df[(df.brand == "Downy") & (df.stars == 3)].copy()

In [ ]:
dados['timestamp'].max()

In [ ]:
values = dados.resample(rule='W', on = 'timestamp').sum()

In [ ]:
values.head()

In [ ]:
df['timestamp'].min()

In [ ]:
nv = dados.resample('W', on = 'timestamp').sum()

In [ ]:
nv.head()

In [ ]:
nv.cumsum()

In [96]:
import sqlite3

database = sqlite3.connect('../BD/data.db')
df = pd.read_sql_query("SELECT * FROM sales ORDER BY date(timestamp)", database)
df_doido = pd.read_sql_query("SELECT * FROM sales WHERE brand = 'Downy' AND stars = '3'  ORDER BY date(timestamp)", database)

In [4]:
df[df['timestamp'] == '2020-01-01']

Empty DataFrame
Columns: [asin, brand, id, source, stars, timestamp]
Index: []

In [61]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [7]:
df['timestamp'] = df.timestamp.apply(lambda x: str(x.date()))

In [38]:
filter = df[(df.stars == 3) & (df.brand == 'Downy')].copy()

In [54]:
filter.head(20)

             asin  brand              id  source  stars  timestamp
29495  B07SC2KNQ9  Downy  R29WJ4FU7AB0S2  amazon      3 2020-01-05
29553  B07TWJ5QRC  Downy  R15N8LBSP9HJTI  amazon      3 2020-01-07
29559  B01MU1DEW5  Downy  R36X4SAJWIV08D  amazon      3 2020-01-07
29722  B01ABVJWK6  Downy  R1RZEMZ7DYI2HK  amazon      3 2020-01-11
29838  B01MU1DEW5  Downy   RVHHJYXIQJ5MR  amazon      3 2020-01-14
29845  B01ABVJWK6  Downy  R3LHKPRKCD9QGV  amazon      3 2020-01-14
29901  B01ABVJWK6  Downy  R1ACSRXZ24639D  amazon      3 2020-01-16
29949  B07TWJ5QRC  Downy  R3T04OA41W7CMQ  amazon      3 2020-01-18
30044  B00UFG61QQ  Downy  R2PMDND6663SUS  amazon      3 2020-01-20
30190  B007RZ0IJE  Downy  R2OZS553IIZ2SD  amazon      3 2020-01-26
30247  B00JV6GVPM  Downy  R16QCY3I7RH272  amazon      3 2020-01-27
30259  B007RZ0IJE  Downy  R1V6CZ58QW9H0D  amazon      3 2020-01-28
30262  B07BHVY8G8  Downy  R2C90XB9DKTL24  amazon      3 2020-01-28
30312  B07Z4CZ21K  Downy  R35RWJ91VKCCLB  amazon      3 2020-01-29
30313  B07Z4CZ21K  Downy  R10LZ1DBW0XWY7  amazon      3 2020-01-29
30340  B007RZ0IJE  Downy  R353M2DJFMNSV8  amazon      3 2020-01-30
30361  B00UFG61QQ  Downy   RNTHCDACWTFEQ  amazon      3 2020-01-30
30539  B07BHWHD6T  Downy  R21BYZD6ZZ8OCC  amazon      3 2020-02-04
30682  B01MU1DEW5  Downy  R1BTS934AEDXYJ  amazon      3 2020-02-08
30687  B01ABVJWK6  Downy  R2DQGFOOSW7LX0  amazon      3 2020-02-08

In [40]:
filter['timestamp'] = pd.to_datetime(filter['timestamp'])

In [89]:
filter.resample('W', on = 'timestamp').count()

            asin  brand  id  source  stars  timestamp
timestamp
2020-01-05     1      1   1       1      1          1
2020-01-12     3      3   3       3      3          3
2020-01-19     4      4   4       4      4          4
2020-01-26     2      2   2       2      2          2
2020-02-02     7      7   7       7      7          7
2020-02-09     3      3   3       3      3          3
2020-02-16     2      2   2       2      2          2
2020-02-23     2      2   2       2      2          2
2020-03-01     2      2   2       2      2          2
2020-03-08     1      1   1       1      1          1
2020-03-15     0      0   0       0      0          0
2020-03-22     2      2   2       2      2          2
2020-03-29     3      3   3       3      3          3
2020-04-05     3      3   3       3      3          3
2020-04-12     1      1   1       1      1          1
2020-04-19     1      1   1       1      1          1
2020-04-26     2      2   2       2      2          2
2020-05-03     0      0   0       0      0          0
2020-05-10     1      1   1       1      1          1
2020-05-17     3      3   3       3      3          3
2020-05-24     1      1   1       1      1          1
2020-05-31     2      2   2       2      2          2
2020-06-07     1      1   1       1      1          1
2020-06-14     4      4   4       4      4          4
2020-06-21     0      0   0       0      0          0
2020-06-28     2      2   2       2      2          2
2020-07-05     2      2   2       2      2          2

In [45]:
startData = datetime(2020, 1, 1)

In [49]:
filter = filter[filter.timestamp > startData]

In [52]:
filter.resample("W", on = 'timestamp').count()

            asin  brand  id  source  stars  timestamp
timestamp
2020-01-05     1      1   1       1      1          1
2020-01-12     3      3   3       3      3          3
2020-01-19     4      4   4       4      4          4
2020-01-26     2      2   2       2      2          2
2020-02-02     7      7   7       7      7          7
2020-02-09     3      3   3       3      3          3
2020-02-16     2      2   2       2      2          2
2020-02-23     2      2   2       2      2          2
2020-03-01     2      2   2       2      2          2
2020-03-08     1      1   1       1      1          1
2020-03-15     0      0   0       0      0          0
2020-03-22     2      2   2       2      2          2
2020-03-29     3      3   3       3      3          3
2020-04-05     3      3   3       3      3          3
2020-04-12     1      1   1       1      1          1
2020-04-19     1      1   1       1      1          1
2020-04-26     2      2   2       2      2          2
2020-05-03     0      0   0       0      0          0
2020-05-10     1      1   1       1      1          1
2020-05-17     3      3   3       3      3          3
2020-05-24     1      1   1       1      1          1
2020-05-31     2      2   2       2      2          2
2020-06-07     1      1   1       1      1          1
2020-06-14     4      4   4       4      4          4
2020-06-21     0      0   0       0      0          0
2020-06-28     2      2   2       2      2          2
2020-07-05     2      2   2       2      2          2

In [100]:
result = filter.resample('M', on='timestamp').count()['stars']

In [67]:
df.tail(20)

,asin,brand,id,source,stars,timestamp
34804,B01LKLZ2RI,Gain,R12NGC86ZHRUVS,amazon,1,2020-06-30 18:00:00
34805,B06XD1CJKN,Woolzies,RGYYEOF3YB5LE,amazon,5,2020-06-30 18:00:00
34806,B01BU6D44Q,Method,RLX4LH4N62VAH,amazon,5,2020-06-30 18:00:00
34807,B07VWS49KN,Downy,R2S9Q6QBZ89NSZ,amazon,5,2020-07-01 18:00:00
34808,B07YBF3C13,Snuggle,RM6Y3WSP6FFZL,amazon,5,2020-07-01 18:00:00
34809,B07ND9L6S2,Snuggle,RZO52HLV91ZGR,amazon,5,2020-07-01 18:00:00
34810,B01M4MJ9Z9,KINTOR,RDA3QS3OG465S,amazon,5,2020-07-01 18:00:00
34811,B00UARRT0W,Arm & Hammer,R283PBTHW9WY5B,amazon,2,2020-07-01 18:00:00
34812,B00UARRT0W,Arm & Hammer,R2C86Q5C5K7RCK,amazon,3,2020-07-01 18:00:00
34813,B00UARRT0W,Arm & Hammer,R2YU81DMXTXL49,amazon,4,2020-07-01 18:00:00
34814,B07VBBKV8Z,Downy,R21EXIS0M6NMO1,amazon,5,2020-07-01 18:00:00
34815,B07Q43QYT7,OHOCO,R14R3HA5DMJDOY,amazon,5,2020-07-01 18:00:00
34816,B07Q43QYT7,OHOCO,RRW12MTGJK2J8,amazon,5,2020-07-01 18:00:00
34817,B0186RP2Y2,Friendsheep,R3PZ8WB1LXRU4N,amazon,5,2020-07-01 18:00:00
34818,B084W9WPDK,Seventh Generation,R39OVU2TRGBY3X,amazon,5,2020-07-01 18:00:00
34819,B003IABAS0,Snuggle,R1CYYATHTBOMR7,amazon,5,2020-07-02 18:00:00
34820,B07BHWHD6T,Downy,R3GBLT2Y7O5Z7Z,amazon,3,2020-07-02 18:00:00
34821,B01M4MJ9Z9,KINTOR,R2BRASCBU46Q8Y,amazon,5,2020-07-02 18:00:00
34822,B07SC2KNQ9,Downy,R1AQ7NWMV5J1L0,amazon,5,2020-07-02 18:00:00
34823,B072JJLM9L,Grab Green,R2H4TFNQRG1AUK,amazon,3,2020-07-02 18:00:00

In [69]:
df.shape

(34824, 6)

In [79]:
for key, entry in zip(result.index, result):
    print(key, entry)

2020-03-01 00:00:00 583
2020-03-15 00:00:00 450
2020-03-29 00:00:00 449
2020-04-12 00:00:00 370
2020-04-26 00:00:00 410
2020-05-10 00:00:00 371
2020-05-24 00:00:00 335
2020-06-07 00:00:00 284
2020-06-21 00:00:00 323
2020-07-05 00:00:00 261

In [101]:
result

timestamp
2020-01-31    17
2020-02-29     9
2020-03-31     7
2020-04-30     6
2020-05-31     7
2020-06-30     8
2020-07-31     1
Freq: M, Name: stars, dtype: int64

In [91]:
timeline = {
    "timeline": [{'date': key, 'value': value} for key, value in zip(result.index, result)] 
}

In [97]:
df_doido

           asin  brand              id  source  stars            timestamp
0    B003Z0IPXG  Downy   REJ82TM7K76VZ  amazon      3  2011-05-17 18:00:00
1    B004CQ45BI  Downy   RAOA40Q1RBY6M  amazon      3  2011-06-04 18:00:00
2    B0052457G6  Downy  R3AN8I8XJHQBJ5  amazon      3  2011-10-15 18:00:00
3    B00J5I6GAQ  Downy   R24YCOGHA8XBN  amazon      3  2012-11-05 20:00:00
4    B008UQVABY  Downy  R17VCXFKXIXQGC  amazon      3  2012-12-06 20:00:00
..          ...    ...             ...     ...    ...                  ...
232  B0854RRXXB  Downy   R2K4RJ6GO7ROB  amazon      3  2020-06-13 18:00:00
233  B07SD72JL8  Downy  R32Z00YUK1KUZ1  amazon      3  2020-06-26 18:00:00
234  B07VWS49KN  Downy  R3TT7FGEK04WVY  amazon      3  2020-06-28 18:00:00
235  B07TWJ5QRC  Downy  R2EYO3W7MSN1Q2  amazon      3  2020-06-30 18:00:00
236  B07BHWHD6T  Downy  R3GBLT2Y7O5Z7Z  amazon      3  2020-07-02 18:00:00

[237 rows x 6 columns]